{% extends "App1/main.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Pacientes</h1>
    <p>Acá va la info de los pacientes</p>
    <a href="leerPacientes">Ver listado de pacientes</a></p>
    <a></a>
    <a href="pacienteFormulario">Agregar otro paciente</a>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div id="customm-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                            <span class="input-group-list">
                                <i class="icon icon_search"></i>
                                <button type="submit" class="boton btn-success">Buscar</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>   
        </div>
    </div>
{% endblock %}