<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario buscar medicos</title>
</head>
<body>
     <p> Estamos buscando el: {{medico}}</p>
     {% if medicos %} 
     <ul>
     {% for curso in cursos %} 
         <li>{{medico.nombre}}</li>
         <li>{{medico.medico}}</li>
     {% endfor %}
     </ul>
     {% endif %}
</body>
</html>